[%- DEFAULT
   charset = 'UTF-8'
   po_lang = 'en'
   ddtp_lang = 'en'

   organisation = 'Debian'
   project_homepage = 'https://www.debian.org/'
   packages_homepage = '/'
   packages_homepage_abs = 'http://packages.debian.net/'
   old_releases = 'https://archive.debian.org/'
   searchformurl = packages_homepage
   search_url = '/search'
   tags_url = 'https://debtags.debian.org/'
   bugs_url = 'https://bugs.debian.org/'
   tracker_url = 'https://tracker.debian.org/'
   ddpo_url = 'https://qa.debian.org/developer.php?login='
   src_bugs_url = bugs_url _ 'src:'
   mirror_url = 'http://ftp.debian.org/'
   security_mirror = 'security.debian.org'
   security_mirror_url = security_mirror _ '/debian-security'
   security_suite_suffix = '/updates'
   changelogs_url = 'https://metadata.ftp-master.debian.org/changelogs/'
   policy_url = 'https://www.debian.org/doc/debian-policy/'
   cn_help_url = project_homepage _ 'intro/cn'
   patch_tracking_url = 'https://sources.debian.org/patches'
   screenshots_url = 'https://screenshots.debian.net/package/'
   screenshots_thumb_url = 'https://screenshots.debian.net/thumbnail-with-version/'
   logo = {
	url => project_homepage,
        src => '/Pics/openlogo-50.png',
        alt => organisation,
   }
   copyright = {
	url => 'https://www.spi-inc.org/',
        name => 'SPI Inc.',
        years => '1997 - ' _ timestamp.year,
   }
   license = {
	url => project_homepage _ 'license'
   }
   trademark = {
	name => copyright.name,
	url => project_homepage _ 'trademark'
   }
   contact = {
	name => g('Debian Web Mailinglist'),
	mail => 'debian-www@lists.debian.org',
        url => project_homepage _ 'contact',
        verbose => 0,
   }
   admin = {
	name => g('%s Webmaster', organisation),
	mail => 'webmaster@debian.org',
   }
   trademarknotes = g('%s is a <a href="%s">trademark</a> of %s', organisation, trademark.url, trademark.name)
   sponsors = [
   {
       url => 'http://example1.invalid/',
       name => 'Example1 Sponsor, Inc.',
   },
   {
   	url => 'http://example2.invalid/',
	name => 'Example2 Sponsor, Inc.',
   },
   ]
-%]
[%-
   # possible values for importance: high, normal, low
   sitewidemsg = { importance => "high",
		   txt => g('Please note that this is an experimental version of <a href="https://%s/">%s</a>. Errors and obsolete information should be expected', 'packages.debian.org', 'packages.debian.org') }
-%]
[%# @translators: . = decimal_point , = thousands_sep, see Number::Format %]
[%- USE num = Number.Format( decimal_point => g('.'),
    	      		     thousands_sep => g(','),
			     decimal_fill  => 1 ) -%]
